<h2>Por Capital</h2>
<hr>

<div class="row">
    <div class="col">
        <!-- SearchBox -->
        <shared-components-search-box 
            (onDebounce)="searchByCapital($event)"
            placeHolder="Buscar por capital"
            ></shared-components-search-box>
    </div>
</div>


<div class="row">
    <div class="col">
        <!-- table of result  -->
        <hr>
        <shared-loadin-components *ngIf="isLoadin"></shared-loadin-components>
        <component-country-table [countries]="countries"></component-country-table>
    </div>
</div>